{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main_content m_center">
		<div class="sign_form">
            <form id="login_form" action="/accounts/login/" method="post">
                {% csrf_token %}
                <div class="with_fb">
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
                </div>
                <span class="or">or</span>
                <h1>Login</h1>
                {{ form.non_field_errors }}
                <div class="form">
                    {{ form.username }}
                    {{ form.username.errors }}

                    {{ form.password }}
                    {{ form.password.errors }}
                    <input type="submit" value="Login"/>
                </div>
                <p><a href="{% url 'accounts:reset' %}" class="popup_modal">Lost Password?</a></p>
                <p>Don't have an account? </p>
                <a href="{% url 'accounts:register_buyer' %}" class="textBtn">Sign Up as Buyer</a>
                <a href="{% url 'accounts:register_seller' %}" class="textBtn">Sign Up as Seller</a>
            </form>
        </div>
    </div>

{% endblock content %}


