{% extends "base.html" %}
{% load static %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        Product name
        {{ form.name }}
        {{ form.name.errors }}<br>

        Product description
        {{ form.description }}
        {{ form.description.errors }}<br>

        Product categories
        {{ form.categories }}
        {{ form.categories.errors }}<br>

        Product image
        {{ form.image }}

        <input type="submit" value="Save"/>
    </form>

{% endblock content %}


