<div class="with_fb">
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
</div>
<span class="or">or</span>

<form id="register_form" method="post" action=".">
    <h1>Sign up as BUYER</h1>
    {% csrf_token %}
    <div class="form">
        {{ form.username }}
        {{ form.username.errors }}

        {{ form.first_name }}
        {{ form.first_name.errors }}

        {{ form.last_name }}
        {{ form.last_name.errors }}

        {{ form.email }}
        {{ form.email.errors }}

        {{ form.password }}
        {{ form.password.errors }}

        {{ form.repeat_password }}
        {{ form.repeat_password.errors }}

        <input type="submit" value="Sign up"/>
    </div>
</form>