{% load static %}

<header>
    User type is --{{ user.type }}--
    <div class="container">
        <div class="headerLogo pullLeft">
            <a href="/">
                <img src="{% static 'images/logo.jpg' %}" alt="logo" width="200px">
            </a>
        </div>
        <div class="pullRight">
            <nav>
                <ul>
                    <li><a href="{% url 'shops:list' %}" class="textBtn">Shops list</a></li>
                    <li><a href="{% url 'products:list' %}" class="textBtn">Products list</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'accounts:update' pk=user.id %}" class="textBtn">Profile</a></li>
                        {% if user.type == 'seller' %}
                            <li><a href="{% url 'shops:update' %}" class="textBtn">Shop details</a></li>
                            <li><a href="{% url 'products:my_products' %}" class="textBtn">My products</a></li>
                            <li><a href="{% url 'products:create' %}" class="textBtn">Add product</a></li>
                        {% else %}
                            <li><a href="{% url 'shops:favorite_list' %}" class="textBtn">Favorite Shops list</a></li>
                            <li><a href="{% url 'products:wish_list' %}" class="textBtn">Wish list</a></li>
                            <li><a href="{% url 'products:cart' %}" class="textBtn">My Cart</a></li>
                        {% endif %}
                        <li><a href="{% url 'accounts:logout' %}" class="textBtn">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}"  class="textBtn">Login</a></li>
                        <li><a href="{% url 'accounts:register_buyer' %}" class="textBtn">Sign Up as Buyer</a></li>
                        <li><a href="{% url 'accounts:register_seller' %}" class="textBtn">Sign Up as Seller</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock extra_js %}